<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>



    <key>NSAppTransportSecurity</key>
    <dict>
    <key>NSAllowsLocalNetworking</key>
    <true/>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
    <string>audio</string>
    <string>fetch</string>
    <string>remote-notification</string>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>Your message explaining the reason why you need access to the microphone</string>
    <key>NSAudioRecordingUsageDescription</key>
    <string>Your message explaining the reason why you need access to audio recording</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Yalla jeye</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yalla jeye</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSContactsUsageDescription</key>
	<string>photos</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to provide you with seamless and uninterrupted location-based services. Our app requires your location always, even when it's running in the background, to offer you features such as real-time navigation, geofencing, and location-based notifications. This allows us to deliver a smooth and uninterrupted experience, ensuring that you receive timely and relevant information based on your location, even when the app is not actively in use.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>In order to offer you seamless navigation and location-based features, we require constant access to your location even when the app is in the background. This enables us to provide real-time updates on your location and send you notifications about nearby points of interest or events.</string>
	<key>NSLocationUsageDescription</key>
	<string>We need access to your location to provide you with personalized experiences based on your current location, such as finding nearby points of interest, events, and services. This allows us to offer you relevant and timely information tailored to your location, enhancing your overall experience with our app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location while the app is in use to provide you with accurate mapping and navigation services. This allows us to show you your current location on the map, calculate routes, and provide directions to your desired destinations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>photos</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
